/*Selectionne tout les elements*/
*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;

}

html, body{
	height: 100vh;
	width:100vw;
}

.navbar{
	display:flex;
	justify-content: space-between;
	padding: 15px;
}

.navbar-title > h1{
	color: #0e24bc;

}

.link > a{
	color: #0e24bc;
	text-decoration: none;
	transition: 1s ;
}

.link > a:hover{
	color: #0e24bc;
}

.intro{
	margin: 20px;
	margin-left: 20px;
	padding: 10px;
}

.intro > h1{
	margin-bottom: 15px;
}

.intro > p{
	width: 80%;
}

.projets{
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.projets_card{
	width: 100%;
    display: grid;
	background-color: aqua;

}

.pcard{
	background-color: #0e24bc;
	color: #ffffff;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px;
	padding: 15px; 
	border-radius: 7px;
	justify-content: center;
  	align-content: center;
}

/*button*/
.card-title >h4{
	font-size: 18px;
}

.card-title > button{
	border-radius: 10px;
	border: 1px solid black;
	padding: 7px 10px;
	background-color: #ffffff;
}

.boutton{
	text-decoration: none;
	color:#0e24bc ;
}
